<article class="container-fluid">
  <div class="row">
<!-- Loop over each object in the projects array -->
    <div class="col-md-6 dashboxes">
     {{#each blogPosts}} 
      <div class="row">
          <div id="allposts" class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <hr>
                <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed tellus et diam aliquam mollis eget quis diam. Suspendisse potenti. Ut blandit, erat ac dapibus sodales, quam orci blandit tellus, sed laoreet massa turpis vel ex. Praesent et erat tincidunt arcu ultricies luctus. In vel neque eros. Nunc iaculis orci sit amet pretium molestie. Donec vel sapien mi. Nunc a elit ut sem faucibus interdum sit amet ut odio.</p>
                <a href="/blogpost/{{id}}" class="btn btn-primary">View Post</a>
              </div>
              <div class="card-footer bg-transparent text-muted">
              <div>{{User.email}}</div>
              <div>{{format_date createdAt}}</div>
              </div>
            </div>
          </div>
      </div>
       {{/each}}
    </div>
    <div class="col-md-6">
      <div class="newpost">
        <a class="btn btn-primary" href="/dashboard/new-post" role="button">Create New Post</a>
      </div>
    </div>
  </div>
</article>