<div class="container">
    <div class="row">
        <div class="col-12">
            <form id="newPostForm">
                <div class="mb-3">
                    <label for="postTitle" class="form-label">Title: </label>
                    <input type="text" size="75" class="form-control" id="postTitle" placeholder="Post Title">
                </div>
                <div class="mb-3">
                    <label for="postContent" class="form-label">Content Area: </label>
                    <textarea class="form-control" id="postContent" ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/newpost.js"></script>