          <div id="allposts" class="col-md-12">
          {{!--   <div class="card"> --}}
              <div class="card-body">

                <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed tellus et diam aliquam mollis eget quis diam. Suspendisse potenti. Ut blandit, erat ac dapibus sodales, quam orci blandit tellus, sed laoreet massa turpis vel ex. Praesent et erat tincidunt arcu ultricies luctus. In vel neque eros. Nunc iaculis orci sit amet pretium molestie. Donec vel sapien mi. Nunc a elit ut sem faucibus interdum sit amet ut odio.</p>
              </div>
              <div class="card-footer bg-transparent text-muted">
              <div>{{this.User.email}}</div>
              <div>{{format_date createdAt}}</div>
              </div>
          </div>