          <div id="allposts" class="col-md-12">
          {{!--   <div class="card"> --}}
              <div class="card-body">

                <p class="card-text text-truncate">{{comment_text}}</p>
              </div>
              <div class="card-footer bg-transparent text-muted">
              <div>{{this.User.email}}</div>
              <div>{{format_date createdAt}}</div>
              </div>
          </div>